# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [14]:
import numpy as np
import pandas as pd

# Challenge 1 - Iterators, Generators and `yield`. 

In iterator in Python is an object that represents a stream of data. However, iterators contain a countable number of values. We traverse through the iterator and return one value at a time. All iterators support a `next` function that allows us to traverse through the iterator. We can create an iterator using the `iter` function that comes with the base package of Python. Below is an example of an iterator.

In [15]:
# We first define our iterator:

iterator = iter([1,2,3])

# We can now iterate through the object using the next function

print(next(iterator))

1

In [16]:
# We continue to iterate through the iterator.

print(next(iterator))

2

In [17]:
print(next(iterator))

3

In [18]:
# After we have iterated through all elements, we will get a StopIteration Error

print(next(iterator))

StopIteration:

In [19]:
# We can also iterate through an iterator using a for loop like this:
# Note: we cannot go back directly in an iterator once we have traversed through the elements. 
# This is why we are redefining the iterator below

iterator2 = iter([2,3,4])
    
for i in iterator2:
    print(i)

2
3
4

In the cell below, write a function that takes an iterator and returns the first element in the iterator and returns the first element in the iterator that is divisible by 2. Assume that all iterators contain only numeric data. If we have not found a single element that is divisible by 2, return zero.

In [20]:
def divisible2(iterator):
    # This function takes an iterable and returns the first element that is divisible by 2 and zero otherwise
    # Input: Iterable
    # Output: Integer
    
    # Sample Input: iter([1,2,3])
    # Sample Output: 2
    
    # Your code here:
    for i in iterator: #Check every in the itererator
        if i % 2 == 0: #if the number is divisible by 2
            return i   #return the number and exit the function
    return 0           #If no number has trigered the return with a number, return 0

In [21]:
#Create an iterator to test the function
iterator3 = [1,3,7,8,4]

#Test the function if there is at list one number divisible by 2
divisible2(iterator3)

8

In [22]:
#Create an iterator to test the function
iterator4 = [1,3,5,9,11]

#Test the function if there is no number divisible by 2
divisible2(iterator4)

0

### Generators

It is quite difficult to create your own iterator since you would have to implement a `next` function. Generators are functions that enable us to create iterators. The difference between a function and a generator is that instead of using `return`, we use `yield`. For example, below we have a function that returns an iterator containing the numbers 0 through n:

In [23]:
def firstn(n):
     number = 0
     while number < n:
         yield number
         number = number + 1

If we pass 5 to the function, we will see that we have a iterator containing the numbers 0 through 4.

In [24]:
iterator = firstn(5)

for i in iterator:
    print(i)

0
1
2
3
4

In the cell below, create a generator that takes a number and returns an iterator containing all even numbers between 0 and the number you passed to the generator.

In [25]:
def even_iterator(n):
    # This function produces an iterator containing all even numbers between 0 and n
    # Input: integer
    # Output: iterator
    
    # Sample Input: 5
    # Sample Output: iter([0, 2, 4])
    
    # Your code here:

    lst = [i for i in range(0,n+1) if i % 2 == 0] #list comprehension with even nums from 0 to n
    return iter(lst) #crete the iterator with the list, and return it

In [26]:
#Test the result
print(f'The even_iterator is an {type(even_iterator(5))}')

for i in even_iterator(5):
    print(i)

The even_iterator is an <class 'list_iterator'>
0
2
4

# Challenge 2 - Applying Functions to DataFrames

In this challenge, we will look at how to transform cells or entire columns at once.

First, let's load a dataset. We will download the famous Iris classification dataset in the cell below.

In [27]:
columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width','iris_type']
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data", names=columns)

Let's look at the dataset using the `head` function.

In [28]:
# Your code here:
# Head of the dataset iris
iris.head()

   sepal_length  sepal_width  petal_length  petal_width    iris_type
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

Let's start off by using built-in functions. Try to apply the numpy mean function and describe what happens in the comments of the code.

In [29]:
# Your code here:
# Numpy mean of the dataset iris

np.mean(iris)

#Numpy built-in mean function gives us the mean of the numeric columns of the given dataset

sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
dtype: float64

Next, we'll apply the standard deviation function in numpy (`np.std`). Describe what happened in the comments.

In [32]:
# Your code here:
# Numpy standard deviation of the dataset iris

np.std(iris)

#Numpy built-in standard deviation function give us the standard deviation
#of the numeric columns of the given dataset

sepal_length    0.825301
sepal_width     0.432147
petal_length    1.758529
petal_width     0.760613
dtype: float64

The measurements are in centimeters. Let's convert them all to inches. First, we will create a dataframe that contains only the numeric columns. Assign this new dataframe to `iris_numeric`.

In [33]:
# Your code here:

# Create a newdataframe droping the 'iris_type' column that is not numeric
iris_numeric = iris.drop(columns=['iris_type'])
iris_numeric.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

Next, we will write a function that converts centimeters to inches in the cell below. Recall that 1cm = 0.393701in.

In [34]:
def cm_to_in(x):
    # This function takes in a numeric value in centimeters and converts it to inches
    # Input: numeric value
    # Output: float
    
    # Sample Input: 1.0 
    # Sample Output: 0.393701 
    
    # Your code here: 
    
    return  0.393701*x   #Multiply the number of cm by the equivalence of 1 cm in inches

#Test the function
print(cm_to_in(1))
print(cm_to_in(524))

0.393701
206.299324

Now convert all columns in `iris_numeric` to inches in the cell below. We like to think of functional transformations as immutable. Therefore, save the transformed data in a dataframe called `iris_inch`.

In [35]:
# Your code here:
#Aplly the funcion cm_to_in to all the dataset iris_numeric
iris_inch = iris_numeric.apply(cm_to_in)
iris_inch.head()

   sepal_length  sepal_width  petal_length  petal_width
0      2.007875     1.377954      0.551181      0.07874
1      1.929135     1.181103      0.551181      0.07874
2      1.850395     1.259843      0.511811      0.07874
3      1.811025     1.220473      0.590552      0.07874
4      1.968505     1.417324      0.551181      0.07874

We have just found that the original measurements were off by a constant. Define the global constant `error` and set it to 2. Write a function that uses the global constant and adds it to each cell in the dataframe. Apply this function to `iris_numeric` and save the result in `iris_constant`.

In [36]:
# Define constant below:


def add_constant(x, error=2): #define the global error equals 2
    # This function adds a global constant to our input.
    # Input: numeric value
    # Output: numeric value
    
    # Your code here:
    
    return x + error #add the numeric input and the error


#Test the function
print(add_constant(1))
print(add_constant(7))

3
9

In [37]:
#Aplly the funcion add_constant to all the dataset iris_numeric

iris_constant = iris_numeric.apply(add_constant)
iris_constant.head()

   sepal_length  sepal_width  petal_length  petal_width
0           7.1          5.5           3.4          2.2
1           6.9          5.0           3.4          2.2
2           6.7          5.2           3.3          2.2
3           6.6          5.1           3.5          2.2
4           7.0          5.6           3.4          2.2

# Bonus Challenge - Applying Functions to Columns

Read more about applying functions to either rows or columns [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) and write a function that computes the maximum value for each row of `iris_numeric`

In [38]:
# Your code here:

def max_row(df):
    return df.max(axis=1) #given a dataframe take the max number of each row (axis=1)

max_row(iris_numeric).head() #print the max of each row of the iris_numeric dataframe's head

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
dtype: float64

Compute the combined lengths for each row and the combined widths for each row using a function. Assign these values to new columns `total_length` and `total_width`.

In [39]:
# Your code here:

#make a function that adds the values of two rows in a third row from a dataframe

def total_column(df, column1, column2, column3):
    df[column3] = df[column1] + df[column2]
    return df

#Compute the combined lengths for each row using the total_column function. Assign these values to total_length
total_column(iris_numeric,'sepal_length','petal_length','total_length')

#Compute the combined widths for each row using the total_column function. Assign these values to total_width.
total_column(iris_numeric,'sepal_width','petal_width','total_width')

#print the resultant iris total
iris_numeric.head()

,sepal_length,sepal_width,petal_length,petal_width,total_length,total_width
0,5.1,3.5,1.4,0.2,6.5,3.7
1,4.9,3.0,1.4,0.2,6.3,3.2
2,4.7,3.2,1.3,0.2,6.0,3.4
3,4.6,3.1,1.5,0.2,6.1,3.3
4,5.0,3.6,1.4,0.2,6.4,3.8